[submodule "contrib/timescaledb"]
	path = contrib/timescaledb
	url = https://github.com/timescale/timescaledb.git
[submodule "contrib/pg_dirtyread"]
	path = contrib/pg_dirtyread
	url = https://github.com/df7cb/pg_dirtyread.git
[submodule "contrib/temporal_tables"]
	path = contrib/temporal_tables
	url = https://github.com/arkhipov/temporal_tables.git
[submodule "contrib/timescaledb-toolkit"]
	path = contrib/timescaledb-toolkit
	url = https://github.com/timescale/timescaledb-toolkit.git
[submodule "contrib/orioledb"]
	path = contrib/orioledb
	url = https://github.com/orioledb/orioledb.git
[submodule "contrib/walminer"]
	path = contrib/walminer
	url = https://gitee.com/movead/XLogMiner.git
[submodule "contrib/ora2pg"]
	path = contrib/ora2pg
	url = https://github.com/darold/ora2pg
[submodule "contrib/pgaudit"]
	path = contrib/pgaudit
	url = https://github.com/pgaudit/pgaudit.git
